/* --- TEMPLATE CSS RESET --- */

* {
  font-family: "Inter", sans-serif;
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  color: #131312;
}
html {
  background: #eaeaea;
}
h1,
h2,
h3,
p {
  margin: 0;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
a {
  text-decoration: none;
  color: #131312;
}
img {
  max-width: 100%;
  display: block;
}
